BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: false
AlwaysBreakTemplateDeclarations: Yes
Language: Cpp
NamespaceIndentation: None
AccessModifierOffset: -2
IndentCaseLabels: true
ReflowComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
